<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/css/main.css}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/cca4aa8399.js" crossorigin="anonymous"></script>
<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/ace-builds@1.4.12/src-min/ace.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.17.0/ace.js"></script>
<script src="https://cdn.tiny.cloud/1/34af6g59fabtxgpir8p623kpjzq6259jvq0s5qhoroc15i2s/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<title>알고리즘 저지 사이트</title>