.notifi_title {
    display: inline-block;
    color: var(--font-color-gray-01);
    margin: 2rem 0;
    padding: 1rem 0;
    font-size: 1.5rem;

    border-bottom: 2px solid var(--border-color);
}

.board_container {
    border: 1px solid #ddd;;
}

.board_notifi_userInf,
.board_notifi_title {
    font-weight: bold;
    background-color: #f5f5f5;
    border-bottom: 2px solid var(--border-color);
    padding: 1rem 0.8rem;
}

.board_notifi_content {
    padding: 1rem 0.8rem;
    font-size: 0.9rem;
    color: #555;
}

.board_notifi_push {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1.5rem;
}

.notifi_push_container {
    flex-direction: column;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #e0e0e0;
    font-size: 1.5rem;
}

.board_notifi_userInfo {
    display: flex;
    justify-content: end;
    padding: 1rem;

}

.board_notifi_comment {
    margin: 1rem 0;
    border: 1px solid #ddd;;
}

.noti-nav-search {
    display: flex;
    justify-content: center;

}

