<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header-config"></head>
<body>
<div th:replace="/fragments/nav"></div>

<div class="breadcrumbs"></div>
<div class="container body-nav">
  <div class="container-body-nav">
    <ul class="body-nav-ul">
      <li class="body-nav-li" style="background-color: #428bca; color: white;">제출</li>

    </ul>
  </div>

</div>





<div style="margin-top: 1rem;" class="container">
  <div class="body-qeustion-table">
    <table class="table table-border">
      <thead>
      <tr>
        <th style="width: 100%;">제목</th>

      </tr>
      </thead>
      <tbody>
      <tr>
      <td>코드제출은 어떻게 하는건가요?</td>
      </tr>
      </tbody>

      <tbody>
      <tr>
      <td>JAVA 기본문법</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div th:replace="/fragments/footer"></div>
<div th:replace="/fragments/javascript"></div>
</body>

</html>