.body-nav,
.container-body-nav,
.body-nav-ul,
.body-search-form,
.problem-page-nav {
    display: flex;
}

.body-nav {
    padding-bottom: 1rem;
    padding-top: 2rem;
}

.container-body-nav {

    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.body-nav-li {
    font-size: 0.8rem;
    padding: 0.9rem;
}

.container-body-nav a {
    font-size: 0.8rem;
}

.body-search-form {
    margin-left: 1rem;
}

.body-search-form input {
    padding: 0.4rem 1rem;

}

.problem-page-nav {
    justify-content: center;
    width: 100%;
    margin: 4rem 0;
    font-size: 1rem;
}

.problem-page-nav-box {
    background-color: var(--border-color-FC);
    margin-right: 1rem;
    padding: 0.3rem 0.6rem;
    border-radius: 0.5rem;
    align-items: center;
    transition: all ease 0.3s;
}
.problem-page-nav-box:hover {
    background-color: var(--border-color);
    transition: all ease 0.3s;
}


.success-message,
.level-message {
    border-radius: 0.5rem;
    display: inline-block;
    padding: 0 0.5rem;
    color: white;
}


.delete-board {
    font-size: 0.8rem;
    color: #ff7d7d;
}

.board-title {
    display: flex;
    justify-content: space-between;
    cursor : pointer;
}




