<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header-config"></head>

<body>
<div th:replace="/fragments/nav"></div>
<div class="breadcrumbs"></div>

<div class="container body-nav">
  <div class="container-body-nav">
    <ul class="body-nav-ul">
      <a th:href="@{/problem}"><li class="body-nav-li" style="background-color: #428bca; color: white;">전체</li></a>
      <a th:href="@{/problem/type}"><li class="body-nav-li">종류별문제</li></a>
      <a th:href="@{/random(page = ${ph.page})}"><li class="body-nav-li">랜덤</li></a>


    </ul>
    <a style="cursor: pointer;" class="option-btn">옵션 <i class="fas fa-chevron-down"></i></a>
  </div>

  <div class="body-nav-search">
    <div class="body-search-form">
      <input style="margin-right: 0.4rem;" type="text" name="keyword" id="keyword" />
      <button onclick="problemSearchBtn()"><i class="fas fa-search"></i></button>
    </div>
  </div>

</div>

<div class="body-option container optionActive">

  <form th:object="${problemOptionDTO}" th:action="@{/problem}" method="get">

    <div class="option-sort-container">

      <section class="option-sort-section">
        <div class="sort-no-title margin-bottom-20">
          <label style="color: red;">옵션기능사용</label>
        </div>

        <div>

          <label class="radio">
            <input type="radio"  name="use" value="unused"/>
            사용안함
          </label>

          <label class="radio">
            <input type="radio"  name="use" value="used" checked/>
            사용
          </label>
        </div>

      </section>


      <fieldset class="option-sort-fieldset">
        <div class="sort-ar-title margin-bottom-20">
          <label>문제 순서</label>
        </div>

        <div class="sort-ar-radio-container">
          <label class="radio">
            <input type="radio"  name="order" value="asc" checked/>
            오름차순
          </label>

          <label class="radio">
            <input type="radio"  name="order" value="desc"/>
            내림차순
          </label>

          <label class="radio">
            <input type="radio" name="order" value="random"/>
            랜덤문제
          </label>

          <label class="radio">
            <input type="radio" name="order" value="level"/>
            문제순위
          </label>

        </div>

      </fieldset>

    </div>



    <div class="option-algo-section">
      <fieldset class="option-sort-fieldset">
        <div class="sort-ar-title margin-bottom-20">
          <label>알고리즘 분류</label>
        </div>

        <div class="sort-ar-radio-container">
          <label class="radio">
            <input type="radio"  name="type" value="total" checked />
            전체
          </label>

          <label class="radio">
            <input type="radio"  name="type" value="sort" />
            정렬
          </label>

          <label class="radio">
            <input type="radio"  name="type" value="arki" />
            사칙 연산
          </label>

          <label class="radio">
            <input type="radio"  name="type" value="string"/>
            문자열
          </label>

        </div>

      </fieldset>

      <div class="option-tier-section">
        <fieldset class="option-tier-fieldset">
          <div class="sort-ar-title margin-bottom-20">
            <label>난이도 분류</label>
          </div>

          <div class="sort-ti-radio-container">
            <label class="radio">
              <input type="radio"  name="level" value="total" checked/>
              전체
            </label>

            <label class="radio">
              <input type="radio"  name="level" value="하" />
              하
            </label>

            <label class="radio">
              <input type="radio" name="level" value="중" />
              중
            </label>

            <label class="radio">
              <input type="radio" name="level" value="상"/>
              상
            </label>

          </div>
        </fieldset>
      </div>


      <div class="option-etc-container">

        <section class="option-etc-section">
          <div class="sort-no-title margin-bottom-20">
            <label>언어</label>
          </div>

          <div class="sort-no-radio-container">

            <label class="radio">
              <input type="radio" name="lang" value="total" checked />
              전체
            </label>

            <label class="radio">
              <input type="radio" name="lang" value="KR"/>
              한국어
            </label>

            <label class="radio">
              <input type="radio"  name="lang" value="ENG"/>
              영어
            </label>
          </div>
        </section>


        <fieldset class="option-sort-fieldset">
          <div class="sort-ar-title margin-bottom-20">
            <label>기타</label>
          </div>

          <div class="sort-ar-radio-container">
            <label class="radio">
              <input type="radio" name="etc" value="total" checked/>
              전체
            </label>

            <label class="radio">
              <input type="radio" name="etc" value="zero"/>
              아무도 못푼 문제
            </label>

            <label class="radio">
              <input type="radio"  name="etc" value="one"/>
              한명만 푼 문제
            </label>


          </div>

        </fieldset>
      </div>


      <div class="option-btn-section">
        <fieldset class="option-btn-fieldset">
          <button class="option-apply">적용</button>
        </fieldset>

      </div>
    </div>
  </form>

</div>

<div style="margin-top: 1rem;" class="container">
  <div class="body-qeustion-table">
    <table class="table table-border">
      <thead>
      <tr>
        <th style="width: 10%;">문제번호</th>
        <th style="width: 45%;">문제제목</th>
        <th style="width: 10%;">난이도</th>
        <th style="width: 10%;">맞힌 인원</th>
        <th style="width: 10%;">종류</th>
        <th style="width: 15%;">정보</th>
      </tr>
      </thead>
      <div th:each="problem : ${problems}">
      <tbody>
        <tr>
          <td th:text="${problem.getP_no()}">문제번호</td>
          <td class="board-title">
            <a th:text="${problem.p_title}" th:href="@{problem/{p_no}(p_no=${problem.p_no}, page=${ph.page})}"></a>
          </td>
          <td>
            <div th:if="${problem.p_level == '하'}"
                 class="level-message"
                 style="background-color: #7070ff">하</div>

            <div th:if="${problem.p_level == '중'}"
                 class="level-message"
                 style="background-color: #00ff99">중</div>
            <div th:if="${problem.p_level == '상'}"
                 class="level-message"
                 style="background-color: #ff4646">상</div>
          </td>
          <td th:text="${problem.num_correct}">맞힌인원</td>
          <td th:text="${problem.getP_type()}">문제종류</td>


          <td th:each="solvenum : ${solvenums}"
              th:if="${problem.p_no == solvenum.p_no}">
            <div class="success-message"
                 style="background-color: #ffe800">성공</div>
          </td>

        </tr>
      </tbody>
      </div>
    </table>
  </div>
  <div class="problem-page-nav">

    <div  th:if="${ph.isShowPrev()}">
      <a class="problem-page-nav-box" th:href="@{/problem(page = ${ph.page - 1})}">
        <i class="fas fa-chevron-left"></i></a>
    </div>

    <div th:if="${option.use} == 'unused'" th:each="i : ${#numbers.sequence(ph.beginPage, ph.endPage)}">
        <a class="problem-page-nav-box"
           th:text="${i}"
           th:href="@{/problem(page = ${i})}" th:classappend="${ph.page == i} ? 'color-red' : ''"></a>
    </div>

    <div th:if="${option.use == 'used'}" th:each="i : ${#numbers.sequence(ph.beginPage, ph.endPage)}">
      <a class="problem-page-nav-box"
         th:text="${i}"
         th:href="@{/problem(use= ${option.use}, order= ${option.order}, type=${option.category},
         level=${option.level}, lang=${option.lang}, etc=${option.etc}, page = ${i})}"
         th:classappend="${ph.page == i} ? 'color-red' : ''"></a>
    </div>

    <div th:if="${ph.isShowNext()}">
      <a class="problem-page-nav-box" th:href="@{/problem(page = ${ph.page + 1})}">
        <i class="fas fa-chevron-right"></i></a>
    </div>

  </div>
</div>





<div th:replace="/fragments/footer"></div>
<div th:replace="/fragments/javascript"></div>

</body>

</html>