<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.algorithm.algoprojectserver.mapper.BoardCommentMapper">

    <insert id="insertBoardComment" parameterType="CommentDTO">
        INSERT INTO boardcomment(b_no, user_id, c_comment)
        VALUES (#{b_no}, #{user_id}, #{c_comment})
    </insert>

    <select id="selectBoardComments" parameterType="int" resultType="CommentDTO">
        SELECT *
        FROM boardcomment
        WHERE b_no = #{b_no}
    </select>

    <select id="selectBoardCommentCount" parameterType="int" resultType="int">
        SELECT count(*)
        FROM boardcomment
        WHERE b_no = #{b_no}
    </select>

    <update id="updateBoardCommentCnt" parameterType="int">
        UPDATE board
        SET b_comment_cnt = (
            SELECT count(*)
            FROM boardcomment
            WHERE boardcomment.b_no = board.b_no
        )
        WHERE b_no = #{boardNum};
    </update>

    <delete id="deleteBoardComment" parameterType="int">
        DELETE FROM boardcomment
        WHERE c_no = #{pageNum}
    </delete>

    <select id="selectBoardComment" resultType="CommentDTO" parameterType="int">
        SELECT *
        FROM boardcomment
        WHERE c_no = #{c_no}

    </select>

    <update id="updateBoardComment">
        UPDATE boardcomment
        SET c_comment = #{content}
        WHERE c_no = #{c_no}
    </update>



</mapper>