<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.algorithm.algoprojectserver.mapper.SiteLinkMapper">

    <insert id="insertSiteLink" parameterType="SiteDTO">
        INSERT INTO algosite(algo_title, algo_link, algo_content)
        VALUES(#{algo_title}, #{algo_link}, #{algo_content})
    </insert>

    <select id="selectSiteLink" resultType="SiteDTO">
        SELECT *
        FROM algosite
    </select>

</mapper>